<div class="header">
    <i class="icon fa fa-comments fa-3" aria-hidden="true"></i>

    <p class="title">{{title}}</p>
    <p class="userName">{{user.fullName}}</p>
    <div class="userPicHolder" style="background-image: url('{{user.profilePic}}');">
    </div>
    <svg class="menuSVG" viewBox="0 0 24 24">
      <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
    </svg>
    {{!-- <a href="logout" id="logOutBtn">Logout</a> --}}
</div>
<div class="dropdownMenu" tabindex="0">
  <a href="rooms">Rooms</a>
  <a href="logout" id="logOutBtn">Sign Out</a>
</div>
