<div class="header">
    <i class="icon fa fa-comments fa-3" aria-hidden="true"></i>

    <p class="title">{{title}}</p>
    <p class="userName">{{user.fullName}}</p>
    <div class="userPicHolder">
      <img src="{{user.profilePic}}" alt="{{user.fullName}}">
    </div>
    {{!-- <a href="logout" id="logOutBtn">Logout</a> --}}

</div>
