<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chat Room - {{{title}}}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel="stylesheet" href="/css/{{{cssPath}}}.css">
  <link href="/favicon.ico" rel="icon">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | {{{title}}}</h1>
		</div>

    {{{body}}}

  </div>
</body>
</html>
