<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{{title}}} | {{appName}}</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="/css/{{{cssPath}}}.css">
  <link href="/favicon.ico" rel="icon">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		{{#unless loginHeader}}
		  {{> _header }}
		{{/unless}}
		<div class="contents">

			{{{body}}}

		</div>
  </div>
</body>
</html>
