<div class="titlePanel">
	<h1>{{appName}}</h1>
</div>

<i class="logo fa fa-comments fa-6" aria-hidden="true"></i>

<div class="buttonContainer">
	<a class="socialButton facebook" href="/auth/facebook">
		<i class="fa fa-facebook fa-3x" aria-hidden="true"></i> <span>Sign in with Facebook</span>
	</a>

	<a class="socialButton twitter" href="/auth/twitter">
		<i class="fa fa-twitter fa-3x" aria-hidden="true"></i> <span>Sign in with Twitter</span>
	</a>
</div>
