<div class="controls">
	<div class="userPicHolder"><img src="/img/user.jpg" alt="John Doe"></div>
	<p class="userName">John Doe</p>
	<a href="login" id="logOutBtn">Logout</a>
</div>
<div class="controls">
	<input type="text" name="roomName" placeholder="Create a new Chatroom">
	<a href="#" id="createBtn">Create</a>
</div>
<div class="roomsListDiv">
	<ul class="roomsList" id="roomsListUL">
	<!-- Loop list items here -->
		<a href="chatroom"><li>World Cuisine</li></a>
		<a href="chatroom"><li>Coffee and Conversations</li></a>
	<!-- Loop ends -->
	</ul>
</div>
