<div class="controls">
	<input type="text" name="roomName" placeholder="Create a new Chatroom">
	<a href="#" id="createBtn">Create</a>
</div>
<div class="roomsListDiv">
	<ul class="roomsList" id="roomsListUL">
	<!-- Loop list items here -->
	</ul>
</div>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/socket-connect.js"></script>
