<div class="controls">
	<input type="text" name="roomName" placeholder="Create a new Chatroom">
	<a href="#" id="createBtn">Create</a>
</div>
<div class="roomsListDiv">
	<ul class="roomsList" id="roomsListUL">
	<!-- Loop list items here -->
		<li><a href="chatroom">World Cuisine</a></li>
		<li><a href="chatroom">Coffee and Conversations</a></li>
	<!-- Loop ends -->
	</ul>
</div>
