@import 'mixins';
@import 'icon-sizes';

$facebook-blue: rgb(73, 99, 159);
$twitter-blue: rgb(52, 152, 219);
$rooms-list-blue: rgb(76, 164, 198);

$header-bg: rgb(75, 75, 75);

$dark-grey: rgb(113, 113, 113);
$mid-grey: rgb(150, 150, 150);
$light-grey: rgb(201, 201, 201);

$header-height: 56px;
$seperation: 15px;
$wrapper-max-width: 720px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

::-webkit-scrollbar-track {
	border-radius: 9px;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #555;
}
